

body{

    background-color: #ac8e84;
    color: rgb(7, 7, 7);
    border-color: black;
    margin: auto;
    border-radius: 20px;

}





 ul{
        text-align: center;
        padding: 10px;
    
    }

    li{
        display: inline;
        padding: 10px 30px;
        margin: 3em;
    
    }


#encabezado
{
    width: 70%;
    background-color: #a18579;
    margin: 2em;
    border-radius: 6px;
    text-align: center;

}

.card{

    box-shadow: 0px 4px 8px 0px rgba(23, 18, 18, 0.2);
    overflow: hidden;
    width: 500px;
    height: 700px;
    margin:auto ;
    color: rgb(243, 238, 238);
   
    border: 2px solid;
    border-radius: 7px ;

}

.cardds{

    box-shadow: 0px 4px 8px 0px rgba(23, 18, 18, 0.2);
    overflow: hidden;
    width: 400px;
    height: 500px;
    margin:auto ;
    color: rgb(243, 238, 238);
    text-align: center;
    border: 2px solid;
    border-radius: 7px ;

}
#menu{
    height: 40px;
    background-color:#b7b7b4;
    margin: 1em;
    border-radius: 5px;
}
.texto{
    font-family: :'Times New Roman', Times, serif
    font-size: 10px;
    
    padding: 5px 25px;
}
.contenedorFlex{
    display: flex;
    width: 100%;
    height: 500%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
    padding: 20px;
    
    
}

 img
 
 {
    width: 120px;
    margin: 5px ;
    border: 5px;

 }
