*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;


}
body{
    background-color: #b58c7c;
    color: white;
}
header{
    background-color: #3a251c;
    color: #f1ecea;
    height: 15%;
}
.menu{
    background-color: #b46424;
}
.card{

 background-color:#362f2f;
 width: 40%;
 height: 885px;
 justify-content: center;
 margin: 40px;
 
 
}
.contenedor{

    display: flex;
    justify-content: space-around;
    justify-content: left;
    flex-wrap: wrap;
    margin-top: -64%;
    justify-content: end;
    

}
.pie{
    background-color: #4f362b;
    width: 50%;
    height: 70px;
    text-align: center;
    color: #f1ecea;
    margin: 0.5em;
    padding: 5px;
}
 .pie h4{
    
    padding: 2px;
    color: rgb(247, 238, 238);
    font-size: 25px;
 }
 .img{
    width: 40%;
    height: 140px;
    justify-items: center;
    justify-items: flex-end;

 }

#menu{
    display:none;
}
.cardd{

    background-color: #362f2f;
    width: 50%;
    height: 880px;
    justify-content: center;
    margin: 40px;
}   

ul{
    text-align: center;
    padding: 10px;

}

.li{
    display: inline;
    padding: 10px 30px;
    margin: 3em;
}
.li a:hover{
    color:rgb(242, 237, 237);
    font-size: 20px;
    text-decoration: none;
    list-style: none;
}
footer{

    background-color: #3a251c;
}


