*{
    margin: 0;
    padding: 0;

}
body{
    color: rgb(25, 25, 32);
    background-color: rgb(218, 195, 241);

}
#contenedor{
    
    width: 70%;
    height: 50%;


}

#menu{
    height: 80%;
    background-color: rgb(155, 144, 237);
    margin: 10em;
    border-radius: 50px;
   }

   